.pageSection {
  display: block;
  height: min-content;
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
}

.pageSectionFullWidth {
  display: block;
  height: min-content;
  width: 100%;
}

.pageSection:first-child {
  /* padding-top: 2%; */
}

.pageSection:last-child {
  /* padding-bottom: 0%; */
}

.line {
  /* TODO: */
}

@media screen and (max-width: 1200px) {
  .pageSection {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-bottom: 12px;
  }

  .pageSectionFullWidth {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .line {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
